<div class="container">
  <div class="leagues-title">
    <h1>Ligas</h1>
    <button
      mat-button
      class="btn--primary btn--lg button"
      type="submit"
      data-test-id="login-button"
      appLoadingButton
    >
      Crear nueva
    </button>
  </div>

  <div
    (click)="goToLeagueDetail(league.id)"
    class="league-container"
    *ngFor="let league of leagues?.items"
  >
    <div class="league-dates">
      <h2>{{ league.name }}</h2>
      <p>{{ league.description }}</p>
      <span>Creado por: </span>
      <span class="underline-league">{{ league.createdBy }}</span>
    </div>
    <div class="league-enrolments">
      <div>
        <span>Matriculaciones: </span>
        <span class="underline-league">{{ league.enrolments }} usuarios</span>
      </div>
    </div>
  </div>
</div>
