.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.league-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  cursor: pointer;
}

.league-dates {
  width: 60%;
}

.underline-league {
  text-decoration: underline;
  font: 16px/24px;
  font-size: 1rem;
  line-height: 1.5rem;
}
