.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}

.league-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  cursor: pointer;
}

.league-dates {
  width: 89%;
}

.league-enrolments {
  display: flex;
  flex-direction: column;
  //align-items: end;
  align-items: center;
  gap: 40%;
}

.underline-league {
  text-decoration: underline;
  font: 16px/24px;
  font-size: 1rem;
  line-height: 1.5rem;
}

button {
  width: 40%;
  background-color: #046b99;
  border-radius: 0.5rem;
}
