<div class="modal">
  <h1 class="modal__title">Cambiar contraseña</h1>

  <form
    novalidate
    class="form-container"
    [formGroup]="loginForm"
    (ngSubmit)="changePassword()"
  >
    <div class="form-wrapper modal__old_pass">
      <mat-label>Contraseña actual</mat-label>
      <mat-form-field>
        <input
          matInput
          class="form__input"
          placeholder="Contraseña actual"
          type="password"
          formControlName="old_password"
          name="old_password"
          required
        />
        <mat-error *ngIf="loginForm.get('old_password')?.hasError('old_password')">
          'Incorrecto'
        </mat-error>
        <mat-error *ngIf="loginForm.get('old_password')?.hasError('required')">
          'Requerido'
        </mat-error>
        <mat-error *ngIf="loginForm.get('old_password')?.hasError('pattern')">
          'pattern'
        </mat-error>
        <mat-error *ngIf="loginForm.get('old_password')?.hasError('minlength')">
          'minlenght'
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal__new_pass">
      <div class="form-wrapper">
        <mat-label>Nueva contraseña</mat-label>
        <mat-form-field>
          <input
            matInput
            class="form__input"
            placeholder="Nueva contraseña"
            type="password"
            formControlName="new_password"
            name="new_password"
            required
          />
          <mat-error *ngIf="loginForm.get('new_password')?.hasError('new_password')">
            'Incorrecto'
          </mat-error>
          <mat-error *ngIf="loginForm.get('new_password')?.hasError('required')">
            'Requerido'
          </mat-error>
          <mat-error *ngIf="loginForm.get('new_password')?.hasError('minlength')">
            'minLength'
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-wrapper">
        <mat-label>Repetir nueva contraseña</mat-label>
        <mat-form-field>
          <input
            matInput
            class="form__input"
            placeholder="Repetir nueva contraseña"
            type="password"
            formControlName="new_password_repeat"
            name="new_password_repeat"
            required
          />
          <mat-error *ngIf="loginForm.get('new_password_repeat')?.hasError('new_password_repeat')">
            'Incorrecto'
          </mat-error>
          <mat-error *ngIf="loginForm.get('new_password_repeat')?.hasError('required')">
            'Requerido'
          </mat-error>
          <mat-error *ngIf="loginForm.get('new_password_repeat')?.hasError('minlength')">
            'minLength'
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="modal__button">
      <button
        mat-button
        type="submit"
        data-test-id="login-button"
        appLoadingButton
      >
       Cambiar
      </button>
    </div>
  </form>
</div>
