<div class="modal">
  <h1 class="modal__title">Cambiar contraseña</h1>

  <form
    novalidate
    class="form-container"
    [formGroup]="loginForm"
    (ngSubmit)="changePassword()"
  >
    <div class="form-wrapper modal__old_pass">
      <mat-label>{{
        forgotPassword ? "Palabra de seguridad" : "Contraseña actual"
      }}</mat-label>
      <mat-form-field>
        <input
          matInput
          class="form__input"
          placeholder="{{
            forgotPassword ? 'Palabra de seguridad' : 'Contraseña actual'
          }}"
          type="password"
          formControlName="checkForm"
          name="checkForm"
          required
        />
        <mat-error *ngIf="loginForm.get('checkForm')?.hasError('checkForm')">
          'Incorrecto'
        </mat-error>
        <mat-error *ngIf="loginForm.get('checkForm')?.hasError('required')">
          'Requerido'
        </mat-error>
        <mat-error *ngIf="loginForm.get('checkForm')?.hasError('pattern')">
          'pattern'
        </mat-error>
        <mat-error *ngIf="loginForm.get('checkForm')?.hasError('minlength')">
          'minlenght'
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal__new_pass">
      <div class="form-wrapper">
        <mat-label>Nueva contraseña</mat-label>
        <mat-form-field>
          <input
            matInput
            class="form__input"
            placeholder="Nueva contraseña"
            type="password"
            formControlName="newPassword"
            name="newPassword"
            required
          />
          <mat-error
            *ngIf="loginForm.get('newPassword')?.hasError('newPassword')"
          >
            'Incorrecto'
          </mat-error>
          <mat-error *ngIf="loginForm.get('newPassword')?.hasError('required')">
            'Requerido'
          </mat-error>
          <mat-error
            *ngIf="loginForm.get('newPassword')?.hasError('minlength')"
          >
            'minLength'
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-wrapper">
        <mat-label>Repetir nueva contraseña</mat-label>
        <mat-form-field>
          <input
            matInput
            class="form__input"
            placeholder="Repetir nueva contraseña"
            type="password"
            formControlName="newPasswordRepeat"
            name="newPasswordRepeat"
            required
          />
          <mat-error
            *ngIf="
              loginForm.get('newPasswordRepeat')?.hasError('newPasswordRepeat')
            "
          >
            'Incorrecto'
          </mat-error>
          <mat-error
            *ngIf="loginForm.get('newPasswordRepeat')?.hasError('required')"
          >
            'Requerido'
          </mat-error>
          <mat-error
            *ngIf="loginForm.get('newPasswordRepeat')?.hasError('minlength')"
          >
            'minLength'
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="modal__button">
      <button
        mat-button
        type="submit"
        data-test-id="login-button"
        appLoadingButton
      >
        Cambiar
      </button>
    </div>
  </form>
</div>
