.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  border-radius: 10px;
  width: 90%;
  height: 80%;
  margin: 5%;

  &__principal {
    width: 80%;
    height: 80%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: auto;
    border-radius: 10px;
  }
}

.profile_int {
  margin: 2rem 2rem 4rem;
}

button {
  background-color: #046b99;
}

.modal {
  margin: 2rem;

  &__button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
  }
}
