/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/fontawesome";
@import "@fortawesome/fontawesome-free/css/solid";
@import "@fortawesome/fontawesome-free/css/regular";
@import "@fortawesome/fontawesome-free/css/brands";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-snack-bar-container {
  text-align: center;
}

.mat-mdc-snack-bar-container {
  position: fixed !important;
  &.warning {
    --mdc-snackbar-container-color: #d1d1d1;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #ff2929;
  }
  &.success {
    --mdc-snackbar-container-color: #d1d1d1;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #03ab2e;
  }
}

.mat-mdc-form-field-error-wrapper {
  display: flex;
  justify-content: center;
}
