<div class="container">
  <div class="icon">
    <mat-icon svgIcon="report"></mat-icon>
  </div>
  <h1>Prueba</h1>
  <p>
    Hola, esta es una prueba de concepto. Para configurarla bien los estilos
    deberían de estar bien y no se debería de ver nada raro.
  </p>
  <div class="buttons">
    <a (click)="closeModal('no')" class="close">Cerrar</a>
    <button
      mat-button
      class="btn--primary btn--lg"
      type="submit"
      data-test-id="login-button"
      appLoadingButton
      (click)="closeModal('yes')"
    >
      Matricularse
    </button>
  </div>
</div>
